name: CD (ACR Push)

"on":
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    #Ten job NIE URUCHOMI się bez sekretów (czyli nie będzie failował bez subskrypcji)
    if: ${{ secrets.AZURE_CLIENT_ID != '' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/projekt-devops:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.ACR_LOGIN_SERVER }}/projekt-devops:latest
